@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@300..800&display=swap");

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #000;
  font-family: "Recursive", monospace;
}

.page h1 {
  margin: 0;
  line-height: 1.5;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  color: #fff;
}

.page h1 strong {
  font-weight: 700;
  font-size: 16px;
}

.page p {
  margin: 0;
  line-height: 1.5;
  font-size: 0.9em;
  text-align: center;
  color: #aaa;
}

.logo + p {
  margin-top: 6px;
  margin-bottom: 18px;
}

.logo-img {
  margin-bottom: 18px;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 48px;
  margin: 15px auto;
  border: 1px solid #eee;
  color: #eee;
  border-radius: 6px;
  transition: border-color 0.15s ease-in;
  background-color: #111;
}

.counter:hover {
  border-color: #ccc;
}

.counter span {
  font-size: 0.9em;
}

.counter em {
  display: inline-block;
  width: 48px;
  font-weight: 400;
  text-align: center;
  color: #fff;
}

.counter strong {
  display: inline-block;
  width: 48px;
  font-weight: 600;
  text-align: center;
}

.counter button {
  display: line-flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  border: 1px solid #ddd;
  line-height: 1;
  font-size: 12px;
  font-family: Courier, monospace;
  font-weight: 600;
  color: #ddd;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.counter button:hover {
  color: #000;
  border-color: #fff;
  background-color: #fff;
}

.counter button + button {
  margin-left: 9px;
}

.page .copyinfo {
  margin-top: 30px;
  font-size: 14px;
  color: #aaa;
}

.page .copyinfo a {
  transition: all 0.1s ease-in-out;
  color: #fff;
}

.page .copyinfo a:hover {
  color: #d63369;
}
